* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body{
    background-image: url(assets/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
      
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    justify-content: space-between;
    gap: 53px;
    margin-right: 600px;
}

li{
    color: #ffffff;
    list-style: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
   
}

.logo{
    width: 92px;
    height: 32px;
    cursor: pointer;
}

.header{
    background-color: black;
    padding-left: 83px;
    padding-right: 83px;
    padding-top:  10px;
    padding-bottom: 31px;
    height: 84px;
}

.line {
    width: 1px;
    height: 50px;
    background-color: #fff;
    margin-right: 23px;
} 

.token {
    padding: 7px 28px;
  background: #ba0cc5;
  border-radius: 6px;
  border: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  cursor: pointer;
}

.token:hover {
    background: rgb(99, 4, 99);
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

h1{
    max-width: 846px;
  margin: 0 auto;
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 98px;
  text-align: center;
  color: #ffffff;
  padding-top: 172px;
}

h2{
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    color: #ffffff;
}

.Access-btn {
    background: #ba0cc5;
    border-radius: 11.2308px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 29.9487px;
    line-height: 45px;
    color: #ffffff;
    border: none;
    padding: 14px 22px;
    margin-top: 64px;
    cursor: pointer;
}

.hover:hover {
    cursor: pointer;
    color: yellow;
}